/* See license.txt for terms of usage */

.domTable {
  font-size: 11px;
  padding: 0;
  margin: 0;
  background-color: white;
  height: 100%;
}

/* Do not display bottom border for tree rows */
.domTable > tbody > tr > td {
  border-bottom: none;
}

.domTable .memberRow {
  display: table-row;
}
