/* See license.txt for terms of usage */

body {
  font-size: 10px;
  padding: 0;
  margin: 0;
  background-color: white;
  height: 100%;
}

/* Do not display bottom border for the last DOM tree row */
.domTable > tbody > tr:last-child > td {
  border-bottom: none;
}
