/* See license.txt for terms of usage */

body {
  background-color: white;
}

.invalid {
  border: 2px dashed red;
}

.valid {
  border: 2px dashed green;
}

.memberLabelCell {
  width: 20%;
}

.memberValueCell {
  width: 80%;
}
