/* See license.txt for terms of usage */

/******************************************************************************/
/* General */

body {
  background-color: white;
  padding: 0;
  margin: 0;
  height: 100%;
}

a:focus {
  outline: none;
}

#content {
  padding: 10px;
  background-color: rgb(221, 221, 221);
  background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2));
}

/******************************************************************************/
/* Tabs */

.actorPane {
  border: 1px solid rgb(221, 221, 221);
  border-top: none;
  padding: 10px;
  background-color: white;
  overflow: auto;
}

/******************************************************************************/
/* Pool Table */

.poolContainer {
  font-size: 12px;
}

.poolTable {
  border: 1px solid rgb(221, 221, 221);
  width: 100%;
  margin-bottom: 10px;
}

.poolRow TD,
.poolRow TH {
  border-bottom: 1px solid rgb(221, 221, 221);
  padding-left: 10px;
}

.poolTable.actorClass {
  background-color: rgb(247, 247, 247);
}

/******************************************************************************/
/* Packets */

.packetPanel {
  font-size: 12px;
  margin-bottom: 6px;
  font-size: 11px;
  font-family: Lucida Grande, Tahoma, sans-serif;
  line-height: 15px;
}

.packetPanel .body {
  display: inline-block;
  padding: 2px 5px 2px 5px;
  border: 1px solid #bfccd1;
  border-radius: 3px;
  white-space: pre-wrap !important;
  max-width: 90%;
  min-width: 270px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.0));
}

.packetPanel.send .body {
  background-color: rgb(252, 248, 227);
}

.packetPanel.receive .body {
  background-color: rgb(223, 240, 216);
  text-align: left;
}

.packetPanel.send {
  text-align: left;
}

.packetPanel.receive {
  text-align: right;
}

.packetPanel.error .body {
  background-color: rgb(255, 221, 221);
}

.packetPanel .type,
.packetPanel .to,
.packetPanel .from {
  color: red;
  font-family: monospace;
}

.packetPanel .to {
  font-family: monospace;
  font-weight: bold;
}

.packetPanel .info {
  color: gray;
  font-size: 10px;
  text-align: right;
}

.packetPanel .arrow {
  margin: 0 5px 0 5px;
}

.packetPanel.receive .arrow {
  margin-left: 0;
}

.packetPanel .from {
  padding-bottom: 5px;
}

.packetPanel .errorMessage {
  color: red;
  margin-bottom: 5px;
}
