/* See license.txt for terms of usage */

/******************************************************************************/
/* Animation Inspector */

.theme-firebug #element-picker {
  min-height: 32px;
  min-width: 32px;
  border: 2px outset;
  border-radius: 2px;
}

.theme-firebug #element-picker::-moz-focus-inner {
  border: 0;
}

.theme-firebug #element-picker[checked="true"] {
  filter: url("chrome://firebug/skin/filters.svg#darken");
  /*box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset, 0px 0px 1px rgba(0, 0, 0, 0.1) inset;*/
  border: 2px inset;
}

.theme-firebug #element-picker::before {
  width: 24px;
  height: 24px;
  background-image: url("chrome://firebug/skin/inspect.svg");
  background-repeat: no-repeat;
}

.theme-firebug #element-picker[checked]::before {
  background-position: 0px 0px;
}
