/* See license.txt for terms of usage */

/******************************************************************************/
/* Toolbox Splitter */

.devtools-horizontal-splitter {
  margin-top: 0px;
  background-color: rgb(221,221,221) !important;
  border: none;
  min-height: 5px;
  max-height: 5px;
}

/******************************************************************************/
/* Firebug Start Button */

#firebug-start-button .toolbarbutton-icon {
  filter: url(chrome://firebug/skin/filters.svg#grayscale);
}

#firebug-start-button[active="true"] .toolbarbutton-icon {
  filter: none;
}
