/* See license.txt for terms of usage */

/*************************************************************************************************/
/* Toolbox Splitter */

.devtools-horizontal-splitter {
    margin-top: 0px;
    background-color: rgb(221,221,221) !important;
    border: none;
    min-height: 5px;
    max-height: 5px;
}
