/* See license.txt for terms of usage */

/******************************************************************************/
/* Font Inspector */

html.theme-firebug,
.theme-firebug body,
.theme-firebug #root {
  height: 100%;
}

.theme-firebug body {
  padding-bottom: 2px;
}

.theme-firebug #root {
  display: flex;
  flex-direction: column;
}

.theme-firebug #all-fonts {
  flex: 1 0 0;
}

.theme-firebug .font-info {
  font-family: Lucida Grande, Tahoma, sans-serif;
}

.theme-firebug h1 {
  font-size: 1em;
  font-weight: normal;
}

.theme-firebug .font-is-local,
.theme-firebug .font-is-remote,
.theme-firebug .font-format-url {
  color: #808080;
}

.theme-firebug .font-css-name {
  font-family: monospace;
}

.theme-firebug .font:nth-child(2n) {
  background-color: #fff;
}

.theme-firebug .font-css-code {
  background-color: #f0f0f0;
}

.theme-firebug .font-url {
  display: inline;
  border: none;
  color: #18191A;
}

.theme-firebug #showall {
  position: static;
  border: none;
  background-color: transparent;
  color: blue;
}

.theme-firebug #showall:hover {
  text-decoration: underline;
}

/******************************************************************************/
/* Font Inspector */

.theme-firebug #showall {
  display: none;
}

/* Workaround for: https://github.com/firebug/firebug.next/issues/257 */
.theme-firebug .font-preview {
  filter: invert(100%);
}
