/* See license.txt for terms of usage */

/******************************************************************************/
/* Ancestor path / Breadcrumbs */

/* xxxHonza: Share all the styles with the debugger callstack breadcrumbs */

.theme-firebug .breadcrumbs-widget-item[checked] + .breadcrumbs-widget-item,
.theme-firebug .breadcrumbs-widget-item {
  margin: 0;
  padding-left: 8px;
  padding-right: 3px;
  background: url(chrome://firebug.next/skin/statusPathSeparator.svg) no-repeat center;
  background-position: 0 10px;
  color: black;
  min-width: 10px;
}

.theme-firebug .breadcrumbs-widget-item:first-child {
  padding-left: 10px;
  background: none;
}

.theme-firebug .breadcrumbs-widget-item[checked],
.theme-firebug .breadcrumbs-widget-item[checked] .breadcrumbs-widget-item-id,
.theme-firebug .breadcrumbs-widget-item[checked] .breadcrumbs-widget-item-tag,
.theme-firebug .breadcrumbs-widget-item[checked] .breadcrumbs-widget-item-pseudo-classes,
.theme-firebug .breadcrumbs-widget-item[checked] .breadcrumbs-widget-item-classes {
  background-color: transparent;
  font-weight: bold;
  color: black;
}

/******************************************************************************/
/* Breadcrumbs Scrolling Buttons */

.theme-firebug .breadcrumbs-widget-container .scrollbutton-up,
.theme-firebug .breadcrumbs-widget-container .scrollbutton-down {
  padding: 0 0;
  box-shadow: none;
}

.theme-firebug .breadcrumbs-widget-container .scrollbutton-up:hover,
.theme-firebug .breadcrumbs-widget-container .scrollbutton-down:hover {
  border: 1px transparent solid !important;
  box-shadow: none !important;
}

.theme-firebug .breadcrumbs-widget-container .scrollbutton-up:active,
.theme-firebug .breadcrumbs-widget-container .scrollbutton-down:active {
  background: none !important;
}

.theme-firebug .breadcrumbs-widget-container .scrollbutton-up > .toolbarbutton-icon {
  background: url("chrome://global/skin/arrow/arrow-lft-sharp.gif") no-repeat 0 center / 5px 9px;
}

.theme-firebug .breadcrumbs-widget-container .scrollbutton-down > .toolbarbutton-icon {
  background: url("chrome://global/skin/arrow/arrow-lft-sharp.gif") no-repeat 0 center / 5px 9px;
}

.theme-firebug .breadcrumbs-widget-container .scrollbutton-up:not([disabled]):active:hover > .toolbarbutton-icon,
.theme-firebug .breadcrumbs-widget-container .scrollbutton-down:not([disabled]):active:hover > .toolbarbutton-icon {
  background-position: 0 center;
}

/* todo: temporary solution, hide the inspector searchbox */
.theme-firebug #inspector-searchbox {
  display: none;
}

.theme-firebug #inspector-toolbar {
  padding-right: 2px;
}
