/* See license.txt for terms of usage */

/*************************************************************************************************/
/* Inspector */

/* TODO: all inspector Firebug theme styles should go here */

/*************************************************************************************************/
/* Ancestor path / Breadcrumbs */

.theme-firebug .breadcrumbs-widget-item {
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
  color: rgb(20, 20, 20) !important;
}

.theme-firebug .breadcrumbs-widget-item:not(:first-child):before {
  content: " ";
  position: absolute;
  width: 10px;
  background: url(chrome://firebug/skin/statusPathSeparator.svg) no-repeat 0% 45%;
}


.theme-firebug .breadcrumbs-widget-item[checked] .breadcrumbs-widget-item-id,
.theme-firebug .breadcrumbs-widget-item[checked] .breadcrumbs-widget-item-tag,
.theme-firebug .breadcrumbs-widget-item[checked] .breadcrumbs-widget-item-pseudo-classes,
.theme-firebug .breadcrumbs-widget-item[checked] .breadcrumbs-widget-item-classes {
  color: rgb(20, 20, 20); /* Foreground (Text) - Firebug */
  font-weight: bold;
}