/* See license.txt for terms of usage */

/******************************************************************************/
/* Breadcrumbs Scrolling Buttons */

.theme-firebug #inspector-searchbox {
  display: none;
}

.theme-firebug #inspector-toolbar {
  padding-right: 2px;
}

.theme-firebug #inspector-sidebar toolbar {
  height:28px;
}

.theme-firebug #inspector-pane-toggle {
  display: none;
}
