/* See license.txt for terms of usage */

/******************************************************************************/
/* Layout View */

div#margins {
  outline: none;
  background-color: #EDFF64;
}

div#borders {
  border-color: #D1C57A;
  background-color: #444444;
}

div#padding {
  outline: 1px solid #D1C57A;
  background-color: slateblue;
}

div#content {
  border-color: #9BBFD1;
  background-color: skyblue;
}

#main, #borders, #content {
  border-style: solid;
}

#main, #header {
  font-family: sans-serif;
}

div#main {
  border-color: #929292;
  color: black;
  font-size: 12px;
}

div#header {
  font-size: 12px;
}
