/* See license.txt for terms of usage */

/*************************************************************************************************/
/* MarkupView */

.theme-firebug #root-wrapper {
  padding-left: 5px;
}

.theme-firebug .theme-fg-color3 {
  color: blue;
}

.theme-firebug .open,
.theme-firebug .close,
.theme-firebug .attr-name.theme-fg-color2 {
  color: rgb(0, 0, 136);
}

.theme-firebug .attr-value.theme-fg-color6 {
  color: red;
}

.theme-firebug .theme-comment {
  color: rgb(0, 100, 0);
}

.theme-firebug .theme-twisty {
  background-size: 11px 11px;
  background-position: 0 1px;
  background-image: url("chrome://firebug-os/skin/twistyClosed.svg");
}

.theme-firebug .theme-twisty[open] {
  background-image: url("chrome://firebug-os/skin/twistyOpen.svg");
  background-size: 11px 11px;
  background-position: 0 1px;
}

.theme-firebug .theme-selected {
  background-color: #3399ff;
}

.theme-firebug .theme-selected ~ .editor,
.theme-firebug .theme-selected ~ .editor .theme-fg-color1,
.theme-firebug .theme-selected ~ .editor .theme-fg-color2,
.theme-firebug .theme-selected ~ .editor .theme-fg-color3,
.theme-firebug .theme-selected ~ .editor .theme-fg-color4,
.theme-firebug .theme-selected ~ .editor .theme-fg-color5,
.theme-firebug .theme-selected ~ .editor .theme-fg-color6,
.theme-firebug .theme-selected ~ .editor .theme-fg-color7,
.theme-firebug .theme-selected ~ .editor .open,
.theme-firebug .theme-selected ~ .editor .close {
  color: #fff;
}

.theme-firebug .markupview-events {
  font-size: 12px;
}