/* See license.txt for terms of usage */

/******************************************************************************/
/* Media Rules */

.theme-firebug .media-rule-label {
  font: message-box;
  padding: 4px;
  cursor: pointer;
  border-bottom: 1px solid #cddae5; /* Grey */
  display: flex;
}

.theme-firebug .media-rule-line {
  -moz-padding-start: 4px;
}

.theme-firebug .media-rule-condition {
  flex: 1;
  overflow: hidden;
}

.theme-firebug .media-condition-unmatched {
  color: grey;
}
