/* See license.txt for terms of usage */

/* This stylesheet is created for panels and should only be included
within panel iframes */

/*************************************************************************************************/
/* Panel Content */

.theme-firebug #requests-menu-perf-notice-button {
  -moz-appearance: none;
  border: 1px solid #C4C4C4;
  background-color: #E9E9E9;
  color: #292E33;
}

.theme-firebug #requests-menu-reload-notice-button {
  -moz-appearance: none;
  font-size: medium;
  color: #292E33;
  border: 1px solid #C4C4C4;
  background-color: #E9E9E9;
  text-decoration: none;
}

.theme-firebug #profiling-notice-button {
  -moz-appearance: none;
  border: 1px solid #C4C4C4;
  background-color: #E9E9E9;
}
