/* See license.txt for terms of usage */

/******************************************************************************/
/* Rule View */

.theme-firebug .ruleview {
  font-family: monospace;
  font-size: 11px;
}

.theme-firebug .ruleview-namecontainer > .ruleview-propertyname,
.theme-firebug .ruleview-propertycontainer > .ruleview-propertyvalue {
  border-bottom: none;
}

.theme-firebug .ruleview-namecontainer > .ruleview-propertyname {
  color: darkgreen;
}

.theme-firebug .ruleview-propertycontainer > .ruleview-propertyvalue {
  color: darkblue;
}

.theme-firebug .ruleview-rule + .ruleview-rule {
  border-top: none;
}

.theme-firebug .ruleview-rule-source label {
  font-family: Lucida Grande, sans-serif;
  font-weight: bold;
  color: #0000FF;
}

.theme-firebug .ruleview-selector > .ruleview-selector-matched,
.theme-firebug .ruleview-selector > .ruleview-selector-separator,
.theme-firebug .ruleview-selector > .ruleview-selector-unmatched {
  color: black;
}

.theme-firebug .theme-gutter.ruleview-header {
  font-family: Lucida Grande, sans-serif;
  font-weight: bold;
  color: black;
  border: none;
  margin: 4px 0 4px 0;
  padding: 3px 4px 2px 4px;
  line-height: inherit;
  min-height: 0;
  background: #F0F0F0 linear-gradient(to top, rgba(0, 0, 0, 0.1), transparent) repeat-x;
}

.theme-firebug .ruleview-overridden {
  text-decoration: none;
}

.theme-firebug .ruleview-overridden .ruleview-propertyname,
.theme-firebug .ruleview-overridden .ruleview-propertyvalue {
  text-decoration: line-through;
}

.theme-firebug .ruleview-enableproperty:not([checked]) ~ .ruleview-namecontainer,
.theme-firebug .ruleview-enableproperty:not([checked]) ~ .ruleview-namecontainer *,
.theme-firebug .ruleview-enableproperty:not([checked]) ~ .ruleview-propertycontainer,
.theme-firebug .ruleview-enableproperty:not([checked]) ~ .ruleview-propertycontainer * {
  color: #CCCCCC;
}

.theme-firebug .ruleview-enableproperty:not([checked]) ~ .ruleview-computedlist * {
  color: #CCCCCC;
}

.theme-firebug #pseudo-class-panel[hidden] {
  padding: 0px;
}

/******************************************************************************/
/* The Editor */

.theme-firebug .styleinspector-propertyeditor {
  border: 1px solid #a0a0a0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

/******************************************************************************/
/* Disable/Enable */

.theme-firebug .ruleview-rule .theme-checkbox {
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-image: url(chrome://firebug/skin/disable.svg);
  background-position:0 0;
}

.theme-firebug .ruleview-rule .theme-checkbox:not([checked]){
  filter: url(chrome://firebug/skin/filters.svg#grayscale);
}

.theme-firebug .ruleview-rule .theme-checkbox[checked] {
  background-position: 0 0;
}

.theme-firebug .ruleview-property:not(:hover) .ruleview-enableproperty {
  visibility: hidden;
}

/******************************************************************************/
/* Toolbar & Search Box */

.theme-firebug #ruleview-toolbar .devtools-searchbox,
.theme-firebug #ruleview-toolbar #ruleview-searchbox {
  width: calc(100% - 5px);
}

.theme-firebug #ruleview-add-rule-button {
  background-image: url("chrome://browser/skin/devtools/add.svg");
  background-repeat: no-repeat;
  background-position: 1px 1px;
}

.theme-firebug #pseudo-class-panel-toggle {
  background-image: url("chrome://browser/skin/devtools/pseudo-class.svg#pseudo-class");
  background-repeat: no-repeat;
  background-position: 1px 1px;
}

.theme-firebug #pseudo-class-panel {
  background-color: rgb(231, 241, 251) !important;
  background-image: none;
}
