/* See license.txt for terms of usage */

/******************************************************************************/
/* Style Editor */

.theme-firebug #style-editor-options {
  display: none;
}

.theme-firebug .splitview-side-details > #panelToolbarBox {
  display: -moz-box;
  -moz-box-flex: 0;
  height: 27px !important;
}

.theme-firebug .panelSplitterBox {
  -moz-box-flex: 0;
}
