/* See license.txt for terms of usage */

/******************************************************************************/
/* Style Editor */

.theme-firebug #style-editor-options {
  display: none;
}

.theme-firebug .splitview-side-details > #panelToolbarBox {
  display: -moz-box;
  -moz-box-flex: 0;
  height: 27px !important;
}

.theme-firebug .panelSplitterBox {
  -moz-box-flex: 0;
}

.theme-firebug .stylesheet-details-container .devtools-side-splitter {
  display: none;
}

/* xxxHonza: if the flex is set to 1 the height of the toolbar
in the Style Editor panel is 26px and not 27px why? FIX ME */
.theme-firebug #panelToolbar {
  -moz-box-flex: 0 !important;
}
