/* See license.txt for terms of usage */

.theme-firebug .devtools-searchinput {
  border: 1px solid rgb(170, 188, 207);
}

.theme-firebug .devtools-toolbar {
  background-color: white;
  border-bottom: 1px solid rgb(170, 188, 207);
}

.theme-firebug .variables-view-scope > .title {
  height: auto;
  border: none;
}

.theme-firebug .variables-view-scope > .title > .theme-twisty {
  display: none;
}

.theme-firebug .variables-view-scope .devtools-toolbar,
.theme-firebug .variables-view-scope:focus .devtools-toolbar {
  border-bottom: none;
  margin: 0;
  padding: 2px 4px;
  background: #F0F0F0 linear-gradient(to top, rgba(0, 0, 0, 0.1), transparent) repeat-x;
  font-size: inherit;
  font-weight: bold;
  color: black;
  cursor: pointer;
}

.theme-firebug .variables-view-searchinput {
  background-image: url(chrome://firebug/skin/filter.svg);
}

.theme-firebug .variables-view-delete:not([disabled="true"]),
.theme-firebug .variables-view-delete:hover:not([disabled="true"]),
.theme-firebug toolbarbutton:hover:active:not([disabled="true"]):not([type="menu-button"]) {
  width: 16px;
  padding: 0;
  margin-right: 3px !important;
  border: none;
  background: url(chrome://firebug/skin/close.svg) center no-repeat;
  box-shadow: none;
}

.theme-firebug .variables-view-delete:hover:not([disabled="true"]) {
  filter: url(chrome://firebug/skin/filters.svg#darken);
}

.theme-firebug toolbarbutton:hover:active:not([disabled="true"]):not([type="menu-button"]) {
  filter: url(chrome://firebug/skin/filters.svg#deepDarken);
}
