/* See license.txt for terms of usage */

.theme-firebug .devtools-searchinput {
  border: 1px solid rgb(170, 188, 207);
}

.theme-firebug .devtools-toolbar {
  background-color: white;
  border-bottom: 1px solid rgb(170, 188, 207);
}

.theme-firebug .variables-view-scope .devtools-toolbar {
  background-color: rgb(219, 234, 249) !important;
  background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2));
  font-weight: bold;
  color: rgb(88, 89, 89);
}

.theme-firebug .variables-view-scope:focus .devtools-toolbar {
  color: rgb(88, 89, 89);
}

.theme-firebug .variables-view-searchinput {
  background-image: url(chrome://firebug/skin/filter.svg);
}