/* See license.txt for terms of usage */

/******************************************************************************/
/* WebConsole */

.theme-firebug #output-container {
  background-color: white;
}

.domTableWrapper {
  margin-top: 15px;
  overflow-y: auto;
  border: 1px solid #EFEFEF;
}

/* Override .cm-s-mozilla a[class] font-style
from chrome://browser/skin/devtools/webconsole.css */
.message-body .objectLink {
  font-style: normal !important;
}

.message-location > .filename,
.message-location > .line-number {
  color: rgb(0, 0, 255);
  font-weight: bold;
}

.message-location {
  width: 13em;
}

/* The <tabbox> height for the Console panel side bar is set to zero
in the Light theme to make it invisible. Let's fix that in Firebug theme. */
.theme-firebug #webconsole-sidebar > tabs {
  height: 28px;
}

.theme-firebug .jsterm-input-container {
  border-top: 1px solid #CCCCCC;
  border-top-style: solid;
}

.theme-firebug .jsterm-input-node {
  background-image: url(chrome://firebug/skin/command.svg);
  background-repeat: no-repeat;
  background-size: 16px 16px;
}

/******************************************************************************/
/* Filter Buttons */

.theme-firebug .webconsole-filter-button > .toolbarbutton-menubutton-button:before {
  font-size: 3px;
  display: inline;
  border-radius: 0;
  margin-left: 0;
  margin-right: 4px;
  border-width: 1px;
  border-style: solid;
  padding-left: 5px;
  vertical-align: calc(50% - 3px);
}

/******************************************************************************/
/* Filter field */

.theme-firebug[panel=true] .hud-console-filter-toolbar .devtools-searchinput {
  display: none;
}

/******************************************************************************/
/* console.table() */

.theme-firebug .consoletable .theme-body {
  width: 100% !important;
  border-top: 1px solid #D7D7D7 !important;
  border-bottom: 2px solid #D7D7D7 !important;
  border-left: 1px solid #D7D7D7 !important;
  border-right: 1px solid #D7D7D7 !important;
}

.theme-firebug .consoletable .table-widget-column-header {
  padding: 3px 13px 2px 4px !important;
  font-size: 11px !important;
  font-family: sans-serif;
  height: 20px !important;
  min-height: 20px !important;
  font-weight: bold !important;
  color: #000000;
}

.theme-firebug .consoletable .table-widget-cell > .console-string {
  color: #FF0000 !important;
}

.theme-firebug .consoletable .table-widget-column-header[sorted="descending"]:not(:active) {
  background: url(chrome://firebug/skin/arrowDown.svg) no-repeat calc(100% - 4px);
  background-color: #C5CBD9;
}

.theme-firebug .consoletable .table-widget-column-header[sorted="ascending"]:not(:active) {
  background: url(chrome://firebug/skin/arrowUp.svg) no-repeat calc(100% - 4px);
  background-color: #C5CBD9;
}

.theme-firebug .consoletable .table-widget-body .devtools-side-splitter {
  background: linear-gradient(#CBD4DE,#656A6E,#CBD4DE 18px, transparent 18px),
    linear-gradient(rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0.05) 10px, transparent 18px),
    linear-gradient(transparent, rgba(0, 0, 0, 0.5) 10px, transparent 18px)
    repeat-x transparent !important;
  min-width: 1px;
  width: 1px;
  position: absolute;
}

.theme-firebug .consoletable .table-widget-body .devtools-side-splitter:last-of-type {
  display: none;
}

.theme-firebug .consoletable .table-widget-column .table-widget-cell:nth-child(odd) {
  background: #EFEFEF;
}

.theme-firebug .consoletable .table-widget-column .table-widget-cell:nth-child(even) {
  background: #FFFFFF;
}

.theme-firebug .consoletable .devtools-toolbar {
  background: linear-gradient(#E7E7E7, #DADADA);
}

/******************************************************************************/
/* Error and warning message styles */

.theme-firebug .message > .icon {
    margin:0 6px 0 0;
}

.theme-firebug .message[severity="error"] {
    color:#FF0000;
    background-color:#FFEBEB;
}

.theme-firebug .message[severity="warn"] {
    background-color:#FFFFC8;
}
