/* See license.txt for terms of usage */

/******************************************************************************/
/* WebConsole */

.theme-firebug {
  font-size: 11px;
}

.theme-firebug #output-container {
  background-color: white;
}

.domTableWrapper {
  margin-top: 15px;
  overflow-y: auto;
  border: 1px solid #EFEFEF;
}

/* Override .cm-s-mozilla a[class] font-style
from chrome://browser/skin/devtools/webconsole.css */
.message-body .objectLink {
  font-style: normal !important;
}

.message-location > .filename,
.message-location > .line-number {
  color: rgb(0, 0, 255);
  font-weight: bold;
}

.message-location {
  width: 13em;
}

/* See license.txt for terms of usage */

/*
Disable the DOM side panel for now.
See also: https://github.com/firebug/firebug.next/issues/56
.theme-firebug #webconsole-sidebar > tabs {
  height: 28px;
}
*/


.theme-firebug .jsterm-input-container {
  border-top: 1px solid #CCCCCC;
  border-top-style: solid;
}

.theme-firebug .jsterm-input-node {
  background-image: url(chrome://firebug/skin/command.svg);
  background-repeat: no-repeat;
  background-size: 16px 16px;
}

